.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  background: #555;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
